/* body reset */
* {
    margin: 0;
    padding: 0;
}

.body {
    scroll-behavior: smooth;
}

/* header */

#header {
    display: inline-flex;
    background-color: #212121;
    flex-direction: row;
    align-items: center;
    height: 55px;
    width: 100%;
    flex-wrap: wrap;
}

#header .option {
    list-style: none;
    color: white;
    display: inline-flex;
    padding-left: 140px;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#header .option a:hover {
    font-weight: 600;
}

#header .option a:visited {
    font-weight: 600;
}

#header .socialmedia i:hover {
    color: aqua;

    font-weight: 600;
}

.socialmedia .fa-brands {
    display: inline;

    color: white;
    /* padding-left: 45px; */
    margin-left: 43px;
}

.socialmedia {
    display: inline;
    margin-left: 110px;
}

.fa-brands {
    cursor: pointer;
}

.main {
    height: 100vh;
    background-color: black;
}

.main h1 {
    /* color: white; */
    position: absolute;
    left: 268px;
    top: 230px;
    color: white;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.main p {
    width: 506px;
    position: absolute;
    left: 272px;
    top: 290px;
    line-height: 26px;
    color: white;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.main button {
    height: 41px;
    width: 198px;
    color: white;
    background-color: #8e9909;
    position: absolute;
    top: 451px;
    left: 275px;
    border-radius: 5px;
    border: none;
    /* box-shadow: 1px 1px 10px #8e9909; */
    box-shadow: 1px 1px 10px rgb(255 255 255 / 48%);
    border: 1px solid rgba(255, 255, 255, 0.29);
    font-family: "Source Code Pro", monospace;
    font-weight: 800;
    transition-duration: 0.2s;
}

.main h5 {
    position: absolute;
    top: 620px;
    left: 150px;
    color: white;
    font-family: "Source Code Pro", monospace;
    font-weight: 100;
}

.main .container {
    display: inline-flex;
    justify-content: space-evenly;
    position: absolute;
    /* left: 106px; */
    bottom: 34px;
    width: 100%;
}

.main .container .items {
    /* height: 33px; */
    width: 126px;
    display: inline;
    border: 1px solid rgba(255, 255, 255, 0.225);
    text-align: center;
    line-height: 31px;
    color: white;
    /* box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.29);; */
    border-radius: 5px;
    font-family: "Noto Znamenny Musical Notation", sans-serif;
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    margin-left: 10px;
    transition-duration: 0.55s;
}

.main img {
    height: 320px;
    border-radius: 50%;
    position: absolute;
    top: 194px;
    right: 251px;
}

button:hover {
    height: 44px;
    width: 201px;
    font-size: 0.8em;
}

.main .container .item:hover {
    box-shadow: 1px 1px 8px rgba(222, 214, 214, 0.523);
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.69);
}